In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [1]:
!jt -t gruvboxl -T -N -kl -cellw 1300

In [3]:
historical_trends = pd.read_excel("Historical_Trends.xlsx")
claims = pd.read_excel("2021_22_Claims.xlsx")

In [6]:
historical_trends.head()

   Year Market Type of Service  Unit Cost  Utilization
0  2020   LG-1              IP  -0.038976     0.124111
1  2020   LG-1              OP  -0.028813     0.087854
2  2020   LG-1            Prof  -0.410468     1.132620
3  2020   LG-1       Ancillary  -0.018955     0.035607
4  2020   LG-1         Generic   0.046367     0.020978

In [7]:
claims.head()

,Yearmo,Market,Benefit Category,Member Months,Utilization,Allowed
0,202101,Individual,Ancillary,691280.524146,3.254088e+05,2.243792e+07
1,202101,Individual,IP,691280.524146,1.528733e+04,1.088484e+08
2,202101,Individual,OP,691280.524146,2.920820e+05,9.729413e+07
3,202101,Individual,Prof,691280.524146,1.023329e+06,9.139302e+07
4,202102,Individual,Ancillary,700569.581401,3.113756e+05,2.204930e+07

In [20]:
lg1_IP = historical_trends[(historical_trends['Market'] == "LG-1") & 
                           (historical_trends['Type of Service'] == 'IP')].sort_values(by = "Year").reset_index(drop = True)
lg1_IP

   Year Market Type of Service  Unit Cost  Utilization
0  2014   LG-1              IP   0.004363     0.092298
1  2015   LG-1              IP   0.014596     0.089225
2  2016   LG-1              IP   0.018085     0.022823
3  2017   LG-1              IP   0.018747     0.056545
4  2018   LG-1              IP   0.071615     0.118901
5  2019   LG-1              IP   0.123609    -0.067228
6  2020   LG-1              IP  -0.038976     0.124111